<div class="relative rounded-lg overflow-hidden lg:h-96">
    <div class="absolute inset-0">
        {% if image %}
            <img
            sizes="
              (min-width: 1536px) 500px,
              (min-width: 1280px) 400px,
              (min-width: 1024px) 350px,
              (min-width: 768px) 350px,
              (min-width: 640px) 300px,
              500px
            "
            srcset="
              {{ image | img_url: '300x' }} 300w,
              {{ image | img_url: '350x' }} 350w,
              {{ image | img_url: '400x' }} 400w,
              {{ image | img_url: '500x' }} 500w
            "
            src="{{ image | img_url: '500x' }}"
            src-placeholder="{{  image | img_url: '50x' }}"
            alt="{{ image.alt }}"
            loading="lazy"
            class="w-full h-full object-cover object-center"
          >
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'w-full h-full border' }}
          {% endif %}
    </div>

    <div aria-hidden="true" class="relative w-full h-32 lg:hidden"></div>
    <div class="absolute inset-x-0 bottom-0  rounded-bl-lg rounded-br-lg sm:flex sm:items-center sm:justify-between lg:inset-y-0 lg:rounded-tl-lg lg:rounded-br-none lg:flex-col lg:items-start">
        <div >

        </div>
        <div class="bg-black bg-opacity-50 backdrop-filter backdrop-blur w-full">
        <a href="{{ url }}" class="mt-6 flex-shrink-0 flex bg-white bg-opacity-0 py-3 px-4 rounded-md items-center justify-center text-base font-medium text-white hover:bg-opacity-10 sm:mt-0 sm:ml-8 lg:ml-0 lg:w-full">{{ text }}</a>
        </div>
    </div>
</div>
